/* Project Meta */

/* reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general */

html {
  font-size: 10px;
}

.project-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  transition: 0.6s ease-in-out;
  background-color: #fff;
}

.cross-div {
  position: relative;
}

.cross-div > img {
  position: absolute;
  top: 2.4rem;
  right: 1.6rem;
  cursor: pointer;
  width: 20px;
}
.project-content {
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  margin: 7rem auto 5rem auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.popup-project-title {
  font-weight: 700;
  color: #1a2236;
  font-size: 2rem;
}

#popup-tech-ul {
  padding-left: 0;
  gap: 2%;
}

#popup-tech-ul > li {
  background-color: #fff;
  color: #1a2236;
  border: 0.516669px solid #1a2236;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-project-desc {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 2.7rem;
}

.pop-util-btn {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  position: relative;
  font-weight: 500;
  font-size: 1.8rem;
  text-align: center;
  background-color: #fff;
  border: 1px solid #1a2236;
  cursor: pointer;
  margin-top: 2.2rem;
}

.pop-util-btn:hover {
  background: #1a2236;
  color: #fff;
}

.pop-util-btn > img,
.pop-util-btn > svg {
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.bottom-slide {
  display: none;
}

#hero {
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.6rem;
  font-weight: 400;
}

.pop-btn-freg {
  flex-direction: column;
}

.hero-main {
  display: none;
}

.hero-end img {
  width: 100%;
}

.hero-container {
  flex-direction: column;
  gap: 2.2rem;
}

.title {
  font-size: 5rem;
  line-height: 0.9;
  font-weight: 400;
  color: #1a2236;
}

.dev-intro {
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -1%;
}

.btn {
  height: 50px;
  border: none;
  color: #fff;
  background: #1a2236;
  font-weight: 500;
  text-transform: capitalize;
}

.btn:hover,
.btn:focus {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
  transition: ease-in 0.6s;
}

.btn:active {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

#start-collab-btn {
  width: 100%;
}

/* projects section */

.project {
  color: #fff;
  background-color: #1a2236;
}

.bg {
  display: none;
}

.project-head {
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}

#project-title {
  text-transform: capitalize;
  padding-left: 1.6rem;
}

.project-img {
  width: 100%;
  display: block;
}

.project-overlay {
  flex-direction: column;
  gap: 1.4rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.project-overlay p {
  font-size: 2rem;
  font-weight: 300;
  padding-left: 1.6rem;
}

.project-langs {
  padding-left: 1.6rem;
  color: #1a2236;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
}

.project-lang {
  background-color: #98dede;
  display: inline;
  padding: 0.2rem 1rem;
  height: 2rem;
  float: left;
  margin-right: 0.5rem;
}

.project-btn {
  margin-left: 1.6rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  align-items: center;
  width: 66%;
}

.project-btn:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
  transition: ease-in 0.5s;
}

.project-btn:active {
  border: 2px solid #1a2236;
  transform: translate(10px, 10px);
}

.project-btn span {
  padding-right: 1rem;
}

/* about section */

.about {
  flex-direction: column;
  padding: 3rem 1.6rem 3rem 1.6rem;
  gap: 2rem;
  margin-bottom: 2.7rem;
}

.about > h3 {
  margin-top: 4rem;
}

#about-me-details {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #1a2236;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#get-cv-btn {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.details-container {
  color: #fff;
}

/* linter stylelint fix (should belong to footer section) */

footer ul {
  text-align: center;
  justify-content: space-between;
  margin: 4rem;
  list-style: none;
  gap: 1rem;
}

.details-container ul {
  padding: 0;
}

.card {
  padding: 4rem;
  list-style: none;
  height: 289px;
}

.card h5 {
  font-size: 2rem;
  margin-bottom: 1.2rem;
}

.list-i {
  font-size: 1.8rem;
  font-weight: 600;
  list-style-type: disc;
  margin-left: 2rem;
}

#langs {
  background-color: #1c528a;
  background-image: url(/assets/images/hash-lang.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#frameworks {
  background-color: #e2505c;
  background-image: url(/assets/images/framework-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills {
  background-color: #febf52;
  background-image: url(/assets/images/skills-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#about-me-bg {
  display: none;
}

#contact-me {
  color: #1a2236;
}

#get-started {
  margin-top: 5rem;
}

.contact-t-img {
  margin-bottom: 3.2rem;
}

#contact-me h3 {
  margin-left: 1.6rem;
  margin-bottom: 2rem;
}

.contact-intro {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  letter-spacing: -1%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  text-align: left;
}

/* form */

#contact-box {
  flex-direction: column;
}

form {
  margin: 1.6rem;
  flex-direction: column;
}

.form-label {
  color: #7d7c84;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.9rem;
}

.form-label,
input {
  display: block;
}

input {
  height: 5.2rem;
  width: 100%;
  padding-left: 1.6rem;
}

textarea {
  width: 100%;
  height: 9rem;
  padding-top: 1.4rem;
  padding-left: 1.6rem;
  margin-bottom: 2rem;
}

input:hover {
  border: 0.04rem solid #000;
}

/* typography */

.popins {
  font-family: 'Poppins', sans-serif;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

/* grid  & flex */

#projects {
  display: grid;
  grid-template-rows: auto repeat(6, 1fr);
  grid-template-columns: 1fr;
}

.flex {
  display: flex;
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
  position: sticky;
}

#menu-i {
  width: 20px;
  margin-right: 14px;
  cursor: pointer;
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 1000;
  transition: 0.6s ease-in-out;
}

.open-menu {
  background-color: #fff;
  height: 100vh;
  background-image: url(assets/images/img_g1_mobile_menu.svg),
    url(assets/images/img_g1_mobile_menu_b.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  transition: 0.6s ease-in-out;
}

.mobile-nav-links {
  text-align: center;
  list-style: none;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-top: 14.4rem;
}

.mobile-nav-link:link,
.mobile-nav-link:visited {
  color: #1a2236;
  text-decoration: none;
}

.mobile-nav-link:hover,
.mobile-nav-link:active {
  text-decoration: #1a2236 underline;
}

.above-bg {
  position: relative;
}

#menu-i-close {
  position: absolute;
  top: 2.4rem;
  right: 1.6rem;
  cursor: pointer;
  width: 20px;
}

.nav-links {
  display: none;
}

/* footer */

footer {
  background: #1a2236;
  flex-direction: column;
}

#get-resume {
  margin-top: 2.8rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: none;
  background-color: #1a2236;
  color: #92dcdc;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}

.social-icon {
  cursor: pointer;
}

.social-icon:hover {
  transition: all 0.7s ease-in;
  transform: scale(1.3);
}

/* Page template A */

/* Page template B */

/* Media Queries */

@media screen and (min-width: 768px) {
  /* general */

  .title {
    font-size: 9rem;
    font-weight: 400;
  }

  .bg {
    display: block;
    background-size: 100% 100%;
  }

  .bg:hover {
    transform: scale(1.01);
  }

  /* header section */

  header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  .mobile-nav,
  .open-menu {
    display: none;
  }

  #menu-i {
    display: none;
  }

  .nav {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 3.8rem;
  }

  .nav-links {
    display: flex;
    gap: 5rem;
    list-style: none;
  }

  .nav-link:link,
  .nav-link:visited {
    color: #1a2236;
    text-decoration: none;
  }

  .nav-link:hover,
  .nav-link:active {
    text-decoration: #1a2236 underline;
  }

  .l-t-img {
    display: none;
  }

  /* popup */
  .project-popup {
    padding-left: 6rem;
    padding-right: 6rem;
  }

  .project-content {
    gap: 5rem;
  }

  .popup-project-title {
    font-size: 6rem;
  }

  #popup-tech-ul > li {
    font-size: 1.6rem;
    padding: 2rem;
  }

  .popup-project-desc {
    margin-left: 22rem;
    margin-right: 22rem;
  }

  .pop-util-btn {
    padding-left: 7rem;
    padding-right: 7rem;
    margin: 0;
  }

  .pop-btn-freg {
    flex-direction: row;
    gap: 5rem;
    margin: 0;
    padding-left: 22rem;
    padding-right: 22rem;
  }

  .slide-btns {
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
  }

  .bottom-slide {
    display: block;
    border: none;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }
  /* hero section */

  #hero {
    flex-direction: row;
    width: 100%;
    gap: 0;
    padding: 0;
    margin-bottom: 20rem;
  }

  form > * {
    width: 100%;
  }

  .about > * {
    flex: 1;
  }

  #hero > * {
    width: 50%;
  }

  .hero-main {
    display: block;
    background: url(assets/images/hero-main.svg);
    background-size: 100% 100%;
    min-height: 75rem;
  }

  .hero-container {
    min-height: 75rem;
    padding-left: 10rem;
    padding-right: 5rem;
    flex-direction: column;
    justify-content: center;
    background-image: url(assets/images/image_dots.svg);
    background-position: right bottom;
    background-repeat: no-repeat;
    gap: 5rem;
  }

  .hero-container h1 {
    font-size: 10rem;
    line-height: 100%;
    width: 50%;
  }

  #start-collab-btn {
    width: 50%;
  }

  .hero-end {
    display: none;
  }

  /* project section */

  #projects {
    background-color: #fff;
    display: grid;
    grid-template-rows: 6.41fr 2fr 1fr 1fr 2fr 3.16fr 3.1fr;
    grid-template-columns: 2.66fr 1fr 1fr 1fr 1.66fr 1fr;
    grid-template-areas:
      'project-title project-1 project-1 project-1 project-1 project-1'
      'project-2     bg-1      bg-1      bg-1      project-6 project-6'
      'project-2     bg-1      bg-1      bg-1      project-6 project-6'
      'project-2     bg-1      bg-1      bg-1      project-5 project-5'
      'project-3     project-3 project-3 .         project-5 project-5'
      'project-3     project-3 project-3 bg-2      bg-2      bg-2'
      'bg-3          bg-3      bg-3      project-4 project-4 .';
    margin-bottom: 20rem;
  }

  .project {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
  }

  .project-img {
    display: block;
    width: 100%;
    object-fit: cover;
    margin-top: 0;
    margin-left: 0;
  }

  .project-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background: rgba(26, 34, 54, 0.95);
    opacity: 0;
    overflow: hidden;
    transition: 0.5s ease;
  }

  .project:hover .project-overlay {
    height: 75%;
    opacity: 1;
  }

  #project-1 {
    grid-area: project-1;
  }

  #project-2 {
    grid-area: project-2;
    position: relative;
  }

  #project-2 .project-img {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  #project-3 {
    grid-area: project-3;
  }

  #project-4 {
    grid-area: project-4;
  }

  #project-5 {
    grid-area: project-5;
  }

  #project-6 {
    grid-area: project-6;
  }

  #bg-1 {
    grid-area: bg-1;
    background-image: url(assets/images/bg-1.svg);
    background-size: 100% 100%;
  }

  #bg-2 {
    grid-area: bg-2;
    background-image: url(assets/images/bg-2.svg);
  }

  #bg-3 {
    grid-area: bg-3;
    background-image: url(assets/images/bg-3.svg),
      url(assets/images/bg-3_v2.svg);
    background-repeat: no-repeat, no-repeat;
    background-position-x: left, right;
    background-position-y: top, top;
    background-size: 50% 50%, 50% 50%;
  }

  .project-head {
    padding-left: 10rem;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: top;
    background-image: url(assets/images/image_dots.svg);
  }

  #project-title {
    grid-area: project-title;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
  }

  /* about me section */

  .about {
    flex-direction: row-reverse;
    padding: 10rem;

    /* gap: 2rem; */
  }

  #about-me {
    padding: 5rem;
  }

  footer > ul {
    gap: 3rem;
  }

  .details-container > ul {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    flex: 1;
  }

  #get-cv-btn {
    width: 50%;
  }

  #about-me-details {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }

  #about-me-bg {
    display: block;
    background-image: url(assets/images/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 70% 70%;
  }

  /* contact me section */

  .contact-t-img {
    display: none;
  }

  #contact-me {
    background-image: url(assets/images/contact-bg.svg),
      url(assets/images/image-geometry_7.svg);
    background-repeat: no-repeat;
    background-position-x: left, right;
    background-position-y: top, bottom;
    padding: 15rem;
  }

  #contact-box {
    flex-direction: column;
    margin: 0 auto;
    width: 50%;
  }

  #contact-intro {
    text-align: left;
  }

  .bt-form {
    align-self: center;
    justify-content: center;
  }

  /* footer */
  footer {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 16rem;
    padding-right: 16rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #hero h1 {
    font-size: 7rem;
  }

  #start-collab-btn {
    width: 80%;
  }

  #contact-box {
    width: 65%;
  }

  #contact-me form {
    min-width: 70%;
  }

  .card {
    min-width: 25rem;
  }
  .popup-project-desc {
    margin-left: 10%;
    margin-right: 10%;
  }
}
