/* Project Meta */

/* reset  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* general */

html {
  font-size: 10px;
}

#hero {
  flex-direction: column;
  gap: 2.4rem;
  padding: 1.6rem;
  font-weight: 400;
}

.hero-main {
  display: none;
}

.hero-end img {
  width: 100%;
}

.title {
  font-size: 5rem;
  line-height: 0.9;
  font-weight: 400;
  color: #1a2236;
}

.dev-intro {
  font-size: 1.6rem;
  line-height: 2.1rem;
  letter-spacing: -1%;
}

.g-btn {
  height: 50px;
  border: none;
  color: #fff;
  background: #1a2236;
  font-weight: 500;
  text-transform: capitalize;
}

.g-btn:hover,
.g-btn:focus {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.g-btn:active {
  border: 2px solid #000;
  background-color: #fff;
  color: #000;
}

#start-collab-btn {
  width: 100%;
}

.project {
  color: #fff;
  flex-flow: column;
  gap: 2rem;
  padding-bottom: 2rem;
  background-color: #1a2236;
}

#project-title {
  text-transform: capitalize;
  margin-bottom: 3.2rem;
  padding-left: 1.6rem;
}

.project-img {
  width: 100%;
}

.project p {
  font-size: 2rem;
  font-weight: 300;
  padding-left: 1.6rem;
}

.project-langs {
  padding-left: 1.6rem;
  color: #1a2236;
  font-size: 1rem;
  font-weight: 300;
  list-style: none;
  gap: 1rem;
}

.project-lang {
  background-color: #98dede;
  display: inline-block;
  padding: 0.2rem 1rem;
  height: 2rem;
}

.project-btn {
  margin-left: 1.6rem;
  padding: 1.5rem;
  text-align: center;
  font-size: 1.6rem;
  border: 1px solid #fff;
  background-color: #1a2236;
  color: #fff;
  align-items: center;
  width: 53%;
}

.project-btn:hover {
  color: #1a2236;
  background-color: #fff;
  border: 1px solid #1a2236;
}

.project-btn:active {
  border: 2px solid #1a2236;
}

.project-btn span {
  padding-right: 1rem;
}

.about {
  flex-direction: column;
  padding: 1.6rem;
  gap: 2rem;
  margin-bottom: 2.7rem;
}

#about-me-details {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #1a2236;
}

#get-cv-btn {
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.details-container {
  color: #fff;
}
.details-container ul {
  padding: 0;
}
.card {
  padding-left: 4rem;
  list-style: none;
  height: 289px;
}

.card h5 {
  font-size: 2rem;
  margin-bottom: 2.1rem;
  padding-top: 4rem;
}

.list-i {
  font-size: 1.8rem;
  font-weight: 600;
  list-style-type: disc;
  margin-left: 2rem;
}

#langs {
  background-color: #1c528a;
  background-image: url(/assets/images/hash-lang.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#frameworks {
  background-color: #e2505c;
  background-image: url(/assets/images/framework-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#skills {
  background-color: #febf52;
  background-image: url(/assets/images/skills-bg.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
}

#contact-me {
  color: #1a2236;
}

.contact-t-img {
  margin-bottom: 3.2rem;
}

#contact-me h3 {
  margin-left: 1.6rem;
  margin-bottom: 2rem;
}

.contact-intro {
  font-size: 1.4rem;
  line-height: 2.1rem;
  font-weight: 400;
  letter-spacing: -1%;
  margin-left: 1.6rem;
  margin-right: 1.6rem;
  text-align: left;
}

/* form */

form {
  margin: 1.6rem;
}

.form-label {
  color: #7d7c84;
  font-size: 1rem;
  margin-bottom: 0.3rem;
  margin-top: 0.9rem;
}

.form-label,
input {
  display: block;
}

input {
  height: 5.2rem;
  width: 100%;
  padding-left: 1.6rem;
}

textarea {
  width: 100%;
  height: 9rem;
  padding-top: 1.4rem;
  padding-left: 1.6rem;
  margin-bottom: 2rem;
}

input:hover {
  border: 0.04rem solid #000;
}

/* typography */

.popins {
  font-family: "Poppins", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

/* grid  & flex */

#projects {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
}

.flex {
  display: flex;
}

/* header */

header {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

#menu-i {
  width: 20px;
  margin-right: 14px;
}

.nav-links {
  display: none;
}

/* footer */

footer {
  background: #1a2236;
  flex-direction: column;
}

#get-resume {
  margin-top: 2.8rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  border: none;
  background-color: #1a2236;
  color: #92dcdc;
  font-weight: 500;
  font-size: 1.6rem;
  cursor: pointer;
}

footer ul {
  text-align: center;
  justify-content: space-between;
  margin: 4rem;
  list-style: none;
  gap: 1rem;
}

/* Page template A */

/* Page template B */

/* Media Queries */

@media screen and (min-width: 768px) {
  /* header section */

  header {
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
  }

  #menu-i {
    display: none;
  }

  .nav {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 3.8rem;
  }

  .nav-links {
    display: flex;
    gap: 5rem;
    list-style: none;
  }

  .nav-link:link,
  .nav-link:visited {
    color: #1a2236;
    text-decoration: none;
  }

  .nav-link:hover,
  .nav-link:active {
    text-decoration: #1a2236 underline;
  }

  .l-t-img {
    display: none;
  }

  /* hero section */

  #hero {
    flex-direction: row;
    width: 100vw;
  }

  .hero-main {
    display: block;
  }

  .hero-container {
    margin-left: 3rem;
  }

  .hero-container > h1 {
    font-size: 10.1rem;
  }

  .hero-end {
    display: none;
  }
}
